@font-face {
  font-family: 'Karmilla-Bold';
  src: url("../fonts/karmilla-bold-015-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/karmilla-bold-015-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karmilla-bold-015-webfont.woff2") format("woff2"), url("../fonts/karmilla-bold-015-webfont.woff") format("woff"), url("../fonts/karmilla-bold-015-webfont.ttf") format("truetype"), url("../fonts/karmilla-bold-015-webfont.svg#svgFontName") format("svg");
  font-weight: regular;
  /* Legacy iOS */ }

@font-face {
  font-family: 'Karmilla';
  src: url("../fonts/karmilla-regular-015-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/karmilla-regular-015-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karmilla-regular-015-webfont.woff2") format("woff2"), url("../fonts/karmilla-regular-015-webfont.woff") format("woff"), url("../fonts/karmilla-regular-015-webfont.ttf") format("truetype"), url("../fonts/karmilla-regular-015-webfont.svg#svgFontName") format("svg");
  font-weight: regular;
  /* Legacy iOS */ }

body {
  font-size: 16px;
  background: white;
  -webkit-font-smoothing: antialiased; }

header {
  height: 105px; }
  header .logo {
    margin-top: 41px;
    margin-left: 8px; }

section.main {
  color: white; }
  section.main h1 {
    font-family: 'Montserrat', sans-serif; }
  section.main p {
    font-family: 'Karmilla', sans-serif; }

.description {
  background-color: #146DF5;
  border-radius: 12px;
  padding-bottom: 160px;
  min-height: 660px; }
  .description h1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 2.5rem;
    font-weight: 800; }
  .description p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.42;
    font-weight: normal;
    font-size: 1.25rem; }

.next-event {
  color: #434343;
  font-family: "Karmilla-Bold", sans-serif;
  letter-spacing: -0.6px; }
  .next-event h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 8px; }

.event-logo {
  background-color: #434343;
  height: 319px;
  border-radius: 12px; }
  .event-logo svg {
    width: 84%;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.side-project-sunday .event-info {
  padding-left: 12px; }
  .side-project-sunday .event-info h4 {
    font-family: "Karmilla-Bold", sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    font-size: 1.5rem;
    margin: 0;
    line-height: 37px;
    margin-top: 30px; }
  .side-project-sunday .event-info h4.datetime,
  .side-project-sunday .event-info address {
    font-family: "Karmilla", sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    font-size: 1.5rem;
    margin: 0;
    line-height: 37px;
    font-style: normal;
    color: #7a7a7a; }
  .side-project-sunday .event-info a {
    font-size: 1.5rem;
    color: #146DF5;
    margin-top: 12px;
    display: inline-block;
    padding-bottom: 64px; }

footer {
  margin-top: 30px;
  height: 60px;
  background-color: #efefef;
  padding-top: 12px; }
  footer a {
    color: #434343;
    font-family: "Karmilla", sans-serif;
    font-weight: normal; }
